/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  display: block;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --mainColor: #212121;
  --footerColor: #2f303a;
  --backGroundcolor: #f6f6f6;
}

.l {
  outline: 1px solid teal;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.body-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 100vh;
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  letter-spacing: 0.15em;
}

.header-wrap {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main-wrap {
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
}

body.lock {
  overflow: hidden;
}

head {
  background-color: var(--backGroundcolor);
}

.nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid var(--mainColor);
  margin-bottom: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.nav {
  position: relative;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@media screen and (max-width: 767px) {
  .nav {
    top: 61px;
    position: absolute;
    right: 0;
    z-index: 500;
    width: 50vw;
    height: 100vh;
    background-color: #fff;
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}
.nav.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav-btn {
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.nav-btn::after, .nav-btn::before {
  content: "";
  position: absolute;
  left: 0;
  background-color: var(--mainColor);
  width: 100%;
  height: 2px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.nav-btn::before {
  top: 0;
}
.nav-btn::after {
  bottom: 0;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
}
.nav-btn.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}
.nav-btn.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}
.nav-btn.active .nav-btn__span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.nav-btn__span {
  position: absolute;
  left: 0;
  top: 9px;
  background-color: var(--mainColor);
  width: 100%;
  height: 2px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media screen and (max-width: 767px) {
  .nav__list {
    background-color: #fff;
    margin-top: 20px;
    margin-left: 20px;
    overflow: auto;
  }
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list {
    gap: 12px;
  }
}

@media screen and (max-width: 767px) {
  .nav__item {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.nav__link {
  position: relative;
  color: var(--mainColor);
  padding: 16px 0px;
}
@media screen and (max-width: 767px) {
  .nav__link {
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) {
  .nav__link {
    font-size: 14px;
  }
}
.nav__link::after {
  content: "";
  display: block;
  visibility: hidden;
  position: absolute;
  right: 0;
  bottom: 5px;
  left: 0;
  height: 2px;
  -webkit-transform: scaleX(0) translate(0, 0);
          transform: scaleX(0) translate(0, 0);
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: #696969;
}
@media screen and (max-width: 767px) {
  .nav__link::after {
    bottom: 8px;
  }
}
.nav__link:hover::after {
  visibility: visible;
  -webkit-transform: scaleX(1) translate(0, 0);
          transform: scaleX(1) translate(0, 0);
}

.nav__link--active::after {
  content: "";
  display: block;
  visibility: visible;
  position: absolute;
  right: 0;
  bottom: 5px;
  left: 0;
  height: 2px;
  -webkit-transform: scaleX(1) translate(0, 0);
          transform: scaleX(1) translate(0, 0);
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: #696969;
}

.header__bg {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 0;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 600px;
  height: 300px;
}
@media screen and (min-width: 768px) {
  .header__bg {
    max-width: 800px;
    height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .header__bg {
    max-width: 1400px;
    height: 600px;
  }
}

.is-current {
  opacity: 1;
}

.header__bg--one {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.6))), url(../Image/b1.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.6)), url(../Image/b1.jpg);
}

.header__bg--two {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.6))), url(../Image/b2.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.6)), url(../Image/b2.jpg);
}

.header__bg--three {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.6))), url(../Image/b3.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.6)), url(../Image/b3.jpg);
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .hero {
    height: 300px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
  }
}

.hero-wrap {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-wrap {
  padding: 6px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(29, 28, 28, 0.3)), to(rgba(69, 69, 72, 0.3)));
  background-image: linear-gradient(to bottom, rgba(29, 28, 28, 0.3), rgba(69, 69, 72, 0.3));
  margin: 0 auto;
  border-radius: 2%;
}

.hero__title {
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  opacity: 0.5;
}
@media screen and (max-width: 767px) {
  .hero__title {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 36px;
  }
}

.footer {
  background-color: var(--backGroundcolor);
  margin-top: 4px;
}

.footer-wrap {
  padding-top: 34px;
  padding-bottom: 34px;
}

.footer .social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  margin-bottom: 8px;
}

.social__icon {
  fill: #b3b3b3;
  width: 32px;
  height: 32px;
  -webkit-transition: fill 200ms linear;
  transition: fill 200ms linear;
}
.social__link:hover .social__icon {
  fill: #696969;
}

.footer__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}

.number__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--mainColor);
}

.footer__icon-phone {
  margin-right: 6px;
  width: 24px;
  height: 24px;
  fill: #b3b3b3;
}
.number__link:hover .footer__icon-phone {
  fill: #696969;
}/*# sourceMappingURL=main.css.map */